{{ header }}
<ul class="breadcrumb">
  {% for breadcrumb in breadcrumbs %}
  <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
  {% endfor %}
</ul>
{% if j3.settings.get('pageTitlePosition') == 'top' %}
  <h1 class="title page-title"><span>{{ heading_title }}</span></h1>
{% endif %}
{{ j3.loadController('journal3/layout', 'top') }}
<div id="account-wishlist" class="container">
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      {% if j3.settings.get('pageTitlePosition') == 'default' %}
        <h1 class="title page-title">{{ heading_title }}</h1>
      {% endif %}
      {{ content_top }}
      {% if products %}
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              
            <td class="text-left td-name">{{ column_name }}</td>
            <td class="text-center td-model">{{ column_model }}</td>
            <td class="text-left td-qty">{{ column_quantity }}</td>
            <td class="text-center td-price">{{ column_price }}</td>
            <td class="text-center td-action">{{ column_delete }}</td>    
            
            </tr>
          </thead>
          <tbody>
          
          {% for product in products %}

            <form action="{{ action }}" method="post" enctype="multipart/form-data">
            
          <tr class="{{ j3.classes(product.classes) }}">
            
            {#<td class="text-center td-image">{% if product.thumb %}<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>{% endif %}</td>#}
            
            
			<td class="text-left td-name"><a href="{{ product.href }}"><b>{{ product.name }}</b></a></td>
            
            <td class="text-center td-model">{{ product.model }}</td>
            
            <td class="text-left td-qty">
              <input type="hidden" name="option" value='{{ product.option }}'/>
              <input type="hidden" name="product_name" value="{{ product.product_id }}"/>
              <div class="input-group btn-block">
                <div class="stepper">
                  <input type="text" name="quantity" value="{{ product.quantity }}" size="1" class="form-control" />
                  <span>
                    <i class="fa fa-angle-up"></i>
                    <i class="fa fa-angle-down"></i>
                  </span>
                </div>
                <span class="input-group-btn">
                  <button type="submit" data-toggle="tooltip" title="{{ button_update }}" class="btn btn-update"><i class="fa fa-refresh"></i></button>
                </span>
              </div>
            </td>
            
            <td class="text-center td-price">{% if product.price %}
              <div class="price"> {% if not product.special %}
                {{ product.price }}
                {% else %} <b>{{ product.special }}</b> <s>{{ product.price }}</s> {% endif %} </div>
              {% endif %}</td>
            <td class="text-center td-action">
              {% if j3.settings.get('catalogCartStatus') %}
              
              {% endif %}
              
              <a href='{{ product.remove }}' data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger btn-remove"><i class="fa fa-times"></i></a></td>
            </tr>
            </form>
            
          {% endfor %}
            </tbody>
          
        </table>
      </div>
      
            <div class="buttons clearfix">
                <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_request_quote }}</a></div>
            </div>
            {% else %}
            <p>{{ text_list_empty }}</p>
            
      {% endif %}
      
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
