{% macro renderSearchCategories(j3, categories, category_id, index) %}
  {% import _self as self %}
  {% for category in categories %}
    {% set classes = {'selected': category.category_id == category_id} %}
    <li data-category_id="{{ category.category_id }}" class="{{ j3.classes(classes) }} category-level-{{ index }}"><a>{{ category.title }}</a></li>
    {{ self.renderSearchCategories(j3, category.items, category_id, index + 1) }}
  {% endfor %}
{% endmacro %}
{% import _self as self %}
{% if j3.settings.get('catalogSearchStatus') %}
<div id="search" class="dropdown">
  <button class="dropdown-toggle search-trigger" data-toggle="dropdown"></button>
  <div class="dropdown-menu j-dropdown">
    <div class="header-search">
      
            <script>
              (function() {
                var cx = '{{ search_key }}';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
            <gcse:searchbox-only resultsUrl="index.php?route=common/search/googlesearch"></gcse:searchbox-only>
            <script>
              $(document).ready(function() {
                setInterval( function() 
                {
                    $("#gsc-i-id1").css("background","none");
                    $("#gsc-i-id1").parent().css("padding-left","4px");
                    $("#gsc-i-id1").parent().css("padding-right","0");
                    $("#gsc-i-id1").parent().css("padding-top","0");
                    $("#gsc-i-id1").css("text-indent","0");
                    $("#gsc-i-id1").attr("placeholder","Search G-Biosciences");
                },10/*Time*/);
              });
            </script>
            
    </div>
  </div>
</div>
{% endif %}
