{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-questions" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title"><i class="fa fa-pencil"></i> {{ text_setting }}</h2>
		</div>
		<div class="panel-body">
			<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-questions" class="form-horizontal">
				<!-- Tmd update work -->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab-setting" data-toggle="tab"><i class="fa fa-cog"></i> {{ tab_setting }}</a></li>
					<li><a href="#tab-email" data-toggle="tab"><i class="fa fa-envelope"></i> {{ tab_email }}</a></li>
					<li><a href="#tab-language" data-toggle="tab"><i class="fa fa-language"></i> {{ tab_language }}</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab-setting">
					<!-- Tmd update work -->
					<div class="form-group">
						<div class="col-sm-6">
							<label class="col-sm-4 control-label" for="input-askbg"><span data-toggle="tooltip" title="{{ help_askbg }}">{{ entry_askbg }}</span></label>
							<div class="col-sm-8">								
							   <input type="text" name="questions_askbg" value="{{ questions_askbg }}" placeholder="{{ entry_askbg }}" id="input-askbg" class="form-control demo" />
							</div>	
						</div>
						<div class="col-sm-6">
							<label class="col-sm-4 control-label" for="input-ask-color"><span data-toggle="tooltip" title="{{ help_askcolor }}">{{ entry_askcolor }}</span></label>
							<div class="col-sm-8">								
							   <input type="text" name="questions_ask_color" value="{{ questions_ask_color }}" placeholder="{{ entry_askcolor }}" id="input-ask-color" class="form-control demo" />
							</div>							
						</div>						
					</div>
				
					<div class="form-group">
						<div class="col-sm-6">
							<label class="col-sm-4 control-label" for="input-btnbg"><span data-toggle="tooltip" title="{{ help_btnbg }}">{{ entry_btnbg }}</span></label>
							<div class="col-sm-8">								
							   <input type="text" name="questions_btnbg" value="{{ questions_btnbg }}" placeholder="{{ entry_btnbg }}" id="input-btnbg" class="form-control demo" />
							</div>							
						</div>	
						<div class="col-sm-6">
							<label class="col-sm-4 control-label" for="input-btn-color"><span data-toggle="tooltip" title="{{ help_btncolor }}">{{ entry_btncolor }}</span></label>
							<div class="col-sm-8">								
							   <input type="text" name="questions_btn_color" value="{{ questions_btn_color }}" placeholder="{{ entry_btncolor }}" id="input-btn-color" class="form-control demo" />
							</div>							
						</div>						
					</div>
				
					<div class="form-group">
						<div class="col-sm-6">
							<label class="col-sm-4 control-label" for="input-qsbg"><span data-toggle="tooltip" title="{{ help_qsbg }}">{{ entry_qsbg }}</span></label>
							<div class="col-sm-8">								
							   <input type="text" name="questions_qsbg" value="{{ questions_qsbg }}" placeholder="{{ entry_qsbg }}" id="input-qsbg" class="form-control demo" />
							</div>							
						</div>	
						<div class=" col-sm-6">
							<label class="col-sm-4 control-label" for="input-qscolor"><span data-toggle="tooltip" title="{{ help_qscolor }}">{{ entry_qscolor }}</span></label>
							<div class="col-sm-8">								
							   <input type="text" name="questions_qscolor" value="{{ questions_qscolor }}" placeholder="{{ entry_qscolor }}" id="input-qscolor" class="form-control demo" />
							</div>							
						</div>						
					</div>
				
					<div class="form-group">
						<div class="col-sm-6">
							<label class="col-sm-4 control-label" for="input-ansbg"><span data-toggle="tooltip" title="{{ help_ansbg }}">{{ entry_ansbg }}</span></label>
							<div class="col-sm-8">								
							   <input type="text" name="questions_ansbg" value="{{ questions_ansbg }}" placeholder="{{ entry_ansbg }}" id="input-ansbg" class="form-control demo" />
							</div>			
						</div>	
						<div class="col-sm-6">
							<label class="col-sm-4 control-label" for="input-anscolor"><span data-toggle="tooltip" title="{{ help_anscolor }}">{{ entry_anscolor }}</span></label>
							<div class="col-sm-8">								
							   <input type="text" name="questions_anscolor" value="{{ questions_anscolor }}" placeholder="{{ entry_anscolor }}" id="input-anscolor" class="form-control demo" />
							</div>							
						</div>			
					</div>
				
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-name">{{ entry_answertext }}</label>
						<div class="col-sm-10">
						  {% for language in languages %}
						  <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input type="text" name="questions_answertext[{{ language.language_id }}][name]" value="{{ questions_answertext[language.language_id] ? questions_answertext[language.language_id].name }}" placeholder="{{ entry_answertext }}" id="input-name-{{ language.language_id }}" class="form-control"/>
						  </div>
						  {% endfor %}
						</div>
					</div>
				  
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-captchastatus"><span data-toggle="tooltip" title="{{ help_captchastatus }}">{{ entry_captchastatus }}</span></label>
						<div class="col-sm-10">
						  <select name="questions_captchastatus" id="input-captchastatus" class="form-control">
							{% if questions_captchastatus %}
							<option value="1" selected="selected">{{ text_enabled }}</option>
							<option value="0">{{ text_disabled }}</option>
							{% else %}
							<option value="1">{{ text_enabled }}</option>
							<option value="0" selected="selected">{{ text_disabled }}</option>
							{% endif %}
						  </select>
						</div>
					</div>
					
					<!-- Tmd update work -->
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-autoapprove">{{ entry_autoapprove }}</label>
						<div class="col-sm-10">
						  <select name="questions_autoapprove" id="input-autoapprove" class="form-control">
							{% if questions_autoapprove %}
							<option value="1" selected="selected">{{ text_yes }}</option>
							<option value="0">{{ text_no }}</option>
							{% else %}
							<option value="1">{{ text_yes }}</option>
							<option value="0" selected="selected">{{ text_no }}</option>
							{% endif %}
						  </select>
						</div>
					</div>
					</div>

					<div class="tab-pane" id="tab-email">
						<div class="pull-right">
							<a class="btn btn-primary" title="{{ button_shortcut }}" data-toggle="modal" data-target="#myModal">{{ button_shortcut }}</a>
						</div>
						
						<ul class="nav nav-tabs" id="language">
							{% for language in languages %}
							<li><a href="#language{{ language.language_id }}" data-toggle="tab"> <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
							{% endfor %}
						</ul>
						
						<div class="tab-content">
							{% for language in languages %}
							<div class="tab-pane active" id="language{{ language.language_id }}">
								<legend><h3>{{ text_askquestion }}</h3><i class="tmdnote">{{ text_qusmailnote }}</i></legend>
								<legend style="margin-left: 5%;"><h4>{{ text_to_admin }}</h4></legend>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ entry_subject }}</label>
									<div class="col-sm-10">
									  <input class="form-control" type="text" name="questions_emailtemp[{{ language.language_id }}][sub_askquestion_admin]" size="100" value="{{ questions_emailtemp[language.language_id] ? questions_emailtemp[language.language_id].sub_askquestion_admin }}" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ entry_message }}</label>
									<div class="col-sm-10">
									  <textarea class="form-control summernote" name="questions_emailtemp[{{ language.language_id }}][message_askquestion_admin]" data-toggle="summernote" data-lang="{{ summernote }}" id="">{{ questions_emailtemp[language.language_id] ? questions_emailtemp[language.language_id].message_askquestion_admin }}</textarea>
									</div>
								</div>
								<legend><h3>{{ text_ansquestion }}</h3><i class="tmdnote">{{ text_ansmailadmin }}</i></legend>
								<legend style="margin-left: 5%;"><h4>{{ text_to_admin }}</h4></legend>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ entry_subject }}</label>
									<div class="col-sm-10">
									  <input class="form-control" type="text" name="questions_emailtemp[{{ language.language_id }}][sub_answer_admin]" size="100" value="{{ questions_emailtemp[language.language_id] ? questions_emailtemp[language.language_id].sub_answer_admin }}" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ entry_message }}</label>
									<div class="col-sm-10">
									  <textarea class="form-control summernote" name="questions_emailtemp[{{ language.language_id }}][msg_answer_admin]" data-toggle="summernote" data-lang="{{ summernote }}" id="">{{ questions_emailtemp[language.language_id] ? questions_emailtemp[language.language_id].msg_answer_admin }}</textarea>
									</div>
								</div>
								<legend style="margin-left: 5%;"><h4>{{ text_to_customer }}</h4><i class="tmdnote">{{ text_ansmailcustomer }}</i></legend>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ entry_subject }}</label>
									<div class="col-sm-10">
									  <input class="form-control" type="text" name="questions_emailtemp[{{ language.language_id }}][sub_answer_customer]" size="100" value="{{ questions_emailtemp[language.language_id] ? questions_emailtemp[language.language_id].sub_answer_customer }}" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ entry_message }}</label>
									<div class="col-sm-10">
									  <textarea class="form-control summernote" name="questions_emailtemp[{{ language.language_id }}][msg_answer_customer]" data-toggle="summernote" data-lang="{{ summernote }}" id="">{{ questions_emailtemp[language.language_id] ? questions_emailtemp[language.language_id].msg_answer_customer }}</textarea>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>

					<div class="tab-pane" id="tab-language">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="input-qatab">{{ entry_qatab }}</label>
							<div class="col-sm-10">
								{% for language in languages %}
								<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
								<input type="text" name="questions_qatab[{{ language.language_id }}][qatab]" value="{{ questions_qatab[language.language_id] ? questions_qatab[language.language_id].qatab }}" placeholder="{{ entry_qatab }}" class="form-control" />
								</div>
								{% endfor %}
							</div>
						</div>  

						<div class="form-group">
							<label class="col-sm-2 control-label" for="input-askquestion">{{ entry_askquestion }}</label>
							<div class="col-sm-10">
								{% for language in languages %}
								<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
								<input type="text" name="questions_qatab[{{ language.language_id }}][askquestion]" value="{{ questions_qatab[language.language_id] ? questions_qatab[language.language_id].askquestion }}" placeholder="{{ entry_askquestion }}" class="form-control" />
								</div>
								{% endfor %}
							</div>
						</div>  
				  
						<div class="form-group">
							<label class="col-sm-2 control-label" for="input-questions">{{ entry_questions }}</label>
							<div class="col-sm-10">
							{% for language in languages %}
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input type="text" name="questions_qatab[{{ language.language_id }}][questions]" value="{{ questions_qatab[language.language_id] ? questions_qatab[language.language_id].questions }}" placeholder="{{ entry_questionss }}" class="form-control" />
							</div>
							{% endfor %}
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="input-askanswer">{{ entry_askanswer }}</label>
								<div class="col-sm-10">
								{% for language in languages %}
								<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
								<input type="text" name="questions_qatab[{{ language.language_id }}][askanswer]" value="{{ questions_qatab[language.language_id] ? questions_qatab[language.language_id].askanswer }}" placeholder="{{ entry_askanswer }}" class="form-control" />
								</div>
								{% endfor %}
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="input-your_question">{{ entry_your_question }}</label>
							<div class="col-sm-10">
								{% for language in languages %}
								<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
								<input type="text" name="questions_qatab[{{ language.language_id }}][your_question]" value="{{ questions_qatab[language.language_id] ? questions_qatab[language.language_id].your_question }}" placeholder="{{ entry_captcha }}" class="form-control" />
								</div>
								{% endfor %}
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="input-submit">{{ entry_submit }}</label>
							<div class="col-sm-10">
								{% for language in languages %}
								<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
								<input type="text" name="questions_qatab[{{ language.language_id }}][submit]" value="{{ questions_qatab[language.language_id] ? questions_qatab[language.language_id].submit }}" placeholder="{{ entry_submit }}" class="form-control" />
								</div>
								{% endfor %}
							</div>
						</div>  
					</div>
				</div>
			</form>
		</div>
	</div>

<!-- Tmd update work -->
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
<script type="text/javascript">
$('#language a:first').tab('show');
</script>
<!-- Tmd update work -->
<script src="view/javascript/colorbox/jquery.minicolors.js"></script>
<link rel="stylesheet" href="view/stylesheet/jquery.minicolors.css">
<script type="text/javascript">
$(document).ready( function() {
	$('.demo').each( function() {
		$(this).minicolors({
		control: $(this).attr('data-control') || 'hue',
		defaultValue: $(this).attr('data-defaultValue') || '',
		inline: $(this).attr('data-inline') === 'true',
		letterCase: $(this).attr('data-letterCase') || 'lowercase',
		opacity: $(this).attr('data-opacity'),
		position: $(this).attr('data-position') || 'bottom left',
		change: function(hex, opacity) {
			if( !hex ) return;
			if( opacity ) hex += ', ' + opacity;
			try {
				console.log(hex);
			} catch(e) {}
		},
		theme: 'bootstrap'
	});
		
	});
});
</script>
<style type="text/css">
#form-questions .minicolors-theme-bootstrap .minicolors-input{
	height:33px;
	width: 100%;
}
#form-questions .tmdnote{
	font-size:12px;
	color:red;
	font-weight:bold;
}	
#form-questions .nav-tabs li a {
	background: #f5f5f5;
	border-color: #f5f5f5;
	color: #333;
	font-weight: 500;
	border-radius: 0;
}
#form-questions .nav-tabs li.active a {
	background: #1C95DE;
	border-color: #1C95DE;
	color: #fff;
}
</style>

<!-- Tmd update work -->
<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">{{ text_shortcuts }}</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<ul class="list-unstyled">
					<li>{name}      = {{ text_customername }}</li>
					<li>{email}     = {{ text_customeremail }}</li>
					<li>{question}  = {{ text_questiontext }}</li>
					<li>{name2}     = {{ text_customername_quesans }}</li>
					<li>{email2}    = {{ text_customeremail_quesans }}</li>
					<li>{answer}    = {{ text_questionans }}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Tmd update work -->

</div>
{{ footer }}