{{ header }}
<ul class="breadcrumb">
  {% for breadcrumb in breadcrumbs %}
  <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
  {% endfor %}
</ul>
{% if j3.settings.get('pageTitlePosition') == 'top' %}
  <h1 class="title page-title"><span>{{ heading_title }}</span></h1>
{% endif %}
{{ j3.loadController('journal3/layout', 'top') }}
<div id="product-search" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    
            <div id="content" class="{{ class }}">{#
            
      {% if j3.settings.get('pageTitlePosition') == 'default' %}
        <h1 class="title page-title">{{ heading_title }}</h1>
      {% endif %}
      {{ content_top }}
      <h2 class="title search-criteria-title">{{ entry_search }}</h2>

      <div class="search-form">
        <div class="inputs">
          <input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" id="input-search" class="form-control" />

          <select name="category_id" class="form-control">
            <option value="0">{{ text_category }}</option>
            {% for category_1 in categories %}
              {% if category_1.category_id == category_id %}
                <option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>
              {% else %}
                <option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
              {% endif %}
              {% for category_2 in category_1.children %}
                {% if category_2.category_id == category_id %}
                  <option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
                {% else %}
                  <option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
                {% endif %}
                {% for category_3 in category_2.children %}
                  {% if category_3.category_id == category_id %}
                    <option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
                  {% else %}
                    <option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endfor %}
          </select>
        </div>

        <div class="checkbox">
          <label class="checkbox-inline">
            {% if sub_category %}
            <input type="checkbox" name="sub_category" value="1" checked="checked" />
            {% else %}
            <input type="checkbox" name="sub_category" value="1" />
            {% endif %}
            {{ text_sub_category }}</label>
        </div>

        <div class="checkbox">
          <label class="checkbox-inline">
            {% if description %}
              <input type="checkbox" name="description" value="1" id="description" checked="checked" />
            {% else %}
              <input type="checkbox" name="description" value="1" id="description" />
            {% endif %}
            {{ entry_description }}</label>
        </div>

      </div>

      <div class="buttons clearfix">
          <div class="pull-right"><button id="button-search" class="btn btn-primary"><span>{{ button_search }}</span></button></div>
      </div>
      <h2 class="title search-products-title">{{ text_search }}</h2>
      <div class="main-products-wrapper">
      {% if products %}
          {% if j3.settings.get('sortBarStatus') %}
              <div class="products-filter">
                  <div class="grid-list">
                    <button id="btn-grid-view" class="view-btn {% if j3.settings.get('globalProductView') == 'grid' %}active{% endif %}" data-toggle="tooltip" title="{{ button_grid }}" data-view="grid"></button>
                    <button id="btn-list-view" class="view-btn {% if j3.settings.get('globalProductView') == 'list' %}active{% endif %}" data-toggle="tooltip" title="{{ button_list }}" data-view="list"></button>
                    <a href="{{ compare }}" id="compare-total" class="compare-btn">{{ text_compare }}</a>
                  </div>
                  <div class="select-group">
                      <div class="input-group input-group-sm sort-by">
                          <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
                          <select id="input-sort" class="form-control" onchange="location = this.value;">
                              {% for sorts in sorts %}
                                  {% if sorts.value == '%s-%s'|format(sort, order) %}
                                      <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                  {% else %}
                                      <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                                  {% endif %}
                              {% endfor %}
                          </select>
                      </div>
                      <div class="input-group input-group-sm per-page">
                          <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
                          <select id="input-limit" class="form-control" onchange="location = this.value;">
                              {% for limits in limits %}
                                  {% if limits.value == limit %}
                                      <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                                  {% else %}
                                      <option value="{{ limits.href }}">{{ limits.text }}</option>
                                  {% endif %}
                              {% endfor %}
                          </select>
                      </div>
                  </div>
              </div>
          {% endif %}
        <div class="main-products product-{{ j3.settings.get('globalProductView') }}">
          {% set display = j3.settings.get('globalProductView') %}
          {% include "journal3/template/journal3/product_card.twig" %}
        </div>
        <div class="row pagination-results">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          
            <div class="col-sm-6 text-right">{{ results }}</div> #}
            {% if j3.settings.get('pageTitlePosition') == 'default' %}
            <h1 class="title page-title">{{ heading_title }}</h1>
            {% endif %}
            <div class="row">
              <div class='panel panel-default'>
                <div class='panel-body'>
                  <div class='col-sm-6'>
                    <div class="form-group">
                      <input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" id="input-search" class="form-control"/>
                    </div>  
                  </div>
                  <div class='col-sm-4'>
                    <div class="form-group">
                        <select name="technical" class="form-control">
                              <option {{ (technical == 'protocol') ? 'selected' : '' }} value="protocol">{{ text_protocol }}&nbsp;</option>
                              <option {{ (technical == 'sds') ? 'selected' : '' }} value="sds">{{ text_msds }}&nbsp;</option>
                              <option {{ (technical == 'coa') ? 'selected' : '' }} value="coa">{{ text_coa }}&nbsp;</option>
                              <option {{ (technical == 'technical') ? 'selected' : '' }} value="technical">Handbooks&nbsp;</option>
                          </select>
                      </div>
                  </div>  
                  <div class='col-sm-2'>
                    <input type="button" value="{{ button_search }}" id="button-search" class="btn btn-primary button" />
                  </div>
                </div>
              </div>
            </div>
            {% if products %}
            <div class="row main-products product-list">
              {% for product in products %}
              {% if product is defined and product is not empty %}
              {% for detail in product %}
                {% if detail.type == 'pdf' %}
                  {% if detail.pdf %}
                  <div class="product-list-item col-md-3" style="padding:10px;">
                      <div class="product-thumb" style="min-height:300px !important">
                          <div class="row" style="padding-top:10px">
                          <div class="image3 col-md-3">
                              <a href="image/{{ detail.pdf }}" target="_blank">
                              <img class="image3" src="image/pdfs/pdf_icon.png" style="margin: auto;padding: 10px;padding-bottom: 0px"/>
                          </a>
                        </div>
                         <div class="image3 col-md-9" style="padding:10px;padding-bottom: 0px">
                              <h4 class="name"><a href="image/{{ detail.pdf }}" target="_blank" style="text-transform: uppercase;"><strong>{{ detail.product_name }}</strong></a></h4>
                            <a href="image/{{ detail.pdf }}" target="_blank">
                                <p style="text-transform: uppercase;">{% if detail.parent_product_name is not empty %} Product# {{ detail.parent_product_name }} {% endif %}</p>
                            </a>
                        </div>
                        </div>
                        <div class="product-details">
                          <div class="caption">
                            <p>{{ detail.product_description }}</p>
                          </div>
                        </div>
                        
                        <div style=""> 
                        <div class="col-lg-10 col-md-10 col-sm-10" style="overflow: hidden;height: 20px;left: 0;position: absolute;bottom: 10px;">
                                <a data-toggle="tooltip" data-tooltip-class="icons-menu-tooltip-61" data-placement="top" title="" href="{{ detail.href }}" target="_blank" data-original-title="{{ detail.name | trim('#') }}"><span class="links-text">{{ detail.name | trim('#') }}</span></a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2" style="right: 0;position: absolute;bottom: 10px;">
                            <a href="{{ detail.href }}"><span class="glyphicon glyphicon-arrow-right"></span></a>
                        </div>
                    </div>
                      </div>
                  </div>
                  {% endif %}
                {% endif %}
                {% if detail.type == 'text' %}
                  {% if detail.link %}
                  <div class="product-list-item col-md-3" style="padding:10px;">
                    <div class="product-thumb" style="min-height:300px !important">
                      <div class="row" style="padding-top:15px">
                          <div class="image3 col-md-3">
                              <a href="{{ detail.link }}" target="_blank">
                              <img class="image3" src="image/pdfs/pdf_icon.png" style="margin: auto;padding: 10px;padding-bottom: 0px"/>
                              </a> 
                          </div>
                          <div class="col-md-9">
                              <h4 class="name"><a href="{{ detail.link }}" target="_blank" >{{ detail.product_name }}</a></h4>
                              <p>{% if detail.parent_product_name is not empty %} Product# {{ detail.parent_product_name }} {% endif %}</p>
                          </div>
                      </div>
                          <div class="product-details">
                            <div class="caption">
                              <p>{{ detail.product_description }}</p>
                            </div>
                          </div>
                        <div style=""> 
                        <div class="col-lg-10 col-md-10 col-sm-10" style="overflow: hidden;height: 20px;left: 0;position: absolute;bottom: 10px;">
                                <a data-toggle="tooltip" data-tooltip-class="icons-menu-tooltip-61" data-placement="top" title="" href="{{ detail.href }}" target="_blank" data-original-title="{{ detail.title | trim('#') }}"><span class="links-text">{{ detail.title | trim('#') }}</span></a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2" style="right: 0;position: absolute;bottom: 10px;">
                            <a href="{{ detail.href }}"><span class="glyphicon glyphicon-arrow-right"></span></a>
                        </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% else %}
              <p> There is no Literature to related search result.</p>
              {% endif %}
            {% endfor %}
              
            
      {% else %}
        <p>{{ text_empty }}</p>
        
            
            
      {% endif %}
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script type="text/javascript"><!--
$('#button-search').bind('click', function() {
	url = 'index.php?route=product/search';

	var search = $('#content input[name=\'search\']').prop('value');

	if (search) {
		url += '&search=' + encodeURIComponent(search);
	}

	
            var type = '{{type}}';

            if(type) {
                url += '&type=' + encodeURIComponent(type);
            }

            var technical = $('#content select[name=\'technical\']').prop('value');

            if (technical) {
                    url += '&technical=' + encodeURIComponent(technical);
            }
            
	location = url;
});

$('#content input[name=\'search\']').bind('keydown', function(e) {
	if (e.keyCode == 13) {
		$('#button-search').trigger('click');
	}
});

$('select[name=\'category_id\']').on('change', function() {
	if (this.value == '0') {
		$('input[name=\'sub_category\']').prop('disabled', true);
	} else {
		$('input[name=\'sub_category\']').prop('disabled', false);
	}
});

$('select[name=\'category_id\']').trigger('change');
--></script>

            <script language="javascript">
            $(document).ready(function(){ 
                    $('.product-list-item').parent().addClass("infscrlintro"); 
                    $('#content').append('<input type="hidden" name="pagenext" id="pagenext" value="2" />'); 
                    $('#content').append('<div class="row"> <div id="infscrl_loader" style="text-align:center"></br><button class="btn" id="loadmore">View More Literature</button></div> </div>');
                    $('#content').append('<div class="row"> <div id="infscrl_loader1" style="text-align:center"></br><img src="catalog/view/theme/journal3/lib/imagezoom/loading.gif" /></div> </div>'); 
                    
                    $('#infscrl_loader1').hide();
                    
                    url = 'index.php?route=product/search/searchLiterature';

                    var search = $('#content input[name=\'search\']').prop('value');

                    if (search) {
                            url += '&search=' + encodeURIComponent(search);
                    }

                    var type = '{{type}}';

                    if(type) {
                        url += '&type=' + encodeURIComponent(type);
                    }

                    var technical = $('#content select[name=\'technical\']').prop('value');
                    if (technical) {
                            url += '&technical=' + encodeURIComponent(technical);
                    }
                    
                    $('body').on('click', '#loadmore', function() {
                                    var pagenext = parseInt($('#pagenext').val());
                                    $.ajax({
                                            url: url+'&page='+pagenext,
                                            dataType: 'html',
                                            beforeSend: function() {
                                                    var pagenext = parseInt($('#pagenext').val());
                                                    $('#pagenext').val(pagenext+1);
                                                    $('#infscrl_loader').hide(); 
                                                    $('#infscrl_loader1').show();
                                                    
                                            }, 
                                            success: function(html) {
                                                    var div = $('.product-list-item', $(html));
                                                    $('.infscrlintro').append(div);
                                                    $('#grid-view').trigger('click');
                                                    if(!div || 0 === div.length) {
                                                            $('#infscrl_loader1').html('<strong>No More Literature !!</strong>');
                                                    } else {
                                                            $('#infscrl_loader1').hide();
                                                            $('#infscrl_loader').show(); 
                                                    }
                                            }
                                    });
                                    });
            });
            </script> 
            </div>
            
{{ footer }}
