	 <div id="answer_modal" class="answerme tmdmodal" role="dialog">
		<div class="modal-dialog">
			<input type="hidden" name="user_question_id" value="{{ user_question_id }}" class="form-control"  id="userquestionid"/>
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{ text_quest }} <span class="qustionheading"></span> </h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">

					<div class="form-group">
						<div class="col-sm-12 answeme">
							<label class="control-label" for="input-answer"><b>{{ text_answers }}</b></label>
							<textarea class="form-control" name="answer" rows="7"></textarea>
						</div>
					</div>
				{% if captchastatus==1 %}
					<div class="form-group required">
					  	<div class="col-sm-12 captcha q_captcha_error">
						 	{{ captcha }}
						</div>
					</div>
					{% endif %}
            <button type="button" class="btn btn-primary" id="add-answer" placeholder="submit" value="{{ button_save }}"><i></i>{{ text_save }}</button>
					</form>
				</div>
			</div>
		</div>
    </div>
<script type="text/javascript"><!--
 jQuery('.openall').click(function() {

    jQuery('a[data-parent="#accordion"]').trigger('click');

    if($(this).html()=='<i class="fa fa-plus"></i>') {
          $(this).html('<i class="fa fa-minus"></i>');
    } else {
          $(this).html('<i class="fa fa-plus"></i>');
    }
  })
	$('.collapse').on('shown.bs.collapse', function(){
	$(this).parent().find(".fa-chevron-right").removeClass("fa-chevron-right").addClass("fa-chevron-down");
	}).on('hidden.bs.collapse', function(){
	$(this).parent().find(".fa-chevron-down").removeClass("fa-chevron-down").addClass("fa-chevron-right");
	});

	
/* Answer start */
$('#add-answer').on('click', function() {
		$.ajax({
			url: 'index.php?route=extension/tmdquestionans/addanswer&product_id={{ product_id }}',
			type: 'post',
			dataType: 'json',
			data: $('.answerme input[type=\'text\'], .answerme input[type=\'hidden\'], .answerme textarea'),

			beforeSend: function() {
				$('#add-answer').button('loading');
			},
			complete: function() {
				$('#add-answer').button('reset');
			},
			success: function(json) {
			$('.alert-success, .alert-danger, .text-danger').remove();

			if (json['error']) {
				$('.answeme').after('<div class="text-danger col-sm-12"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}
				if (json['captchaerror']) {
					$('.q_captcha_error').after('<div class="text-danger col-sm-12">' + json['captchaerror'] + '</div>');
				}

			if (json['success']) {
				$('.modal-body').before('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');


						$('textarea[name=\'answer\']').val('');
							window.location.reload();

			}
		}
	});
});
/* Answer end*/
//--></script>

<script type="text/javascript">
$('#search-button').on('click', function() {
	var url = 'index.php?route=extension/tmdquestionans&product_id={{ product_id }}&loadstatus=1';

	var filter_search = $('input[name=\'filter_search\']').val();

	if (filter_search) {
		url += '&filter_search=' + encodeURIComponent(filter_search);
	}

		$('#tab-questionanswer').load(url);

});

</script>

<style type="text/css">
.btn-ask{
	border-radius: 0px; 
	border-color:{{ askbtnbg }}!important;
	background:{{ askbtnbg }}!important;
	Color:{{ askbtncolor }}!important;
}
.tmdmodal .modal-header,#tab-questionanswer .btn-primary, .tmdmodal .btn-primary{
	border-color:{{ btnbg }}!important;
	background:{{ btnbg }}!important;
	color:{{ btncolor }}!important;
	border-radius: 0px;
}
.tmdmodal .modal-header .close,.tmdmodal .modal-header .modal-title{
	color:{{ btncolor }}!important;
	font-weight:bold;
	opacity: 1;
}
#tab-questionanswer .panel-heading{
	background-color:{{ qsbg }}!important;
	border-color:{{ qsbg }}!important;
}
#tab-questionanswer .panel-heading a,#tab-questionanswer span b{
	color:{{ qscolor }}!important;
}
#tab-questionanswer .text-success{
	color:{{ btnbg }}!important;
}
#tab-questionanswer .panel-body{
	background-color:{{ ansbg }}!important;
	color:{{ anscolor }}!important;
}
#tab-questionanswer .panel-title .fa{
	background-color:{{ btnbg }}!important;
	color:{{ btncolor }}!important;
	border-radius: 50%;
}
</style>
